/*  MAIN  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
}

section {
    position: relative;
}

.container {
    max-width: 1263px;
    margin: 0 auto;
    padding: 0 32px;
}

.bg-black {
    background-color:#131313;
}

.btn {
    height: 51px;
    padding: 12px 32px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}


.btn:hover {
    opacity: 0.9;
}

.btn-sm {
    height: 37px;
    padding: 12px 24px;
}

.btn-primary {
    background-color: #E3B873;
    color: #FFFFFF;
    font-style: italic;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-style: italic;
}

.ipt {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    outline: none;
    height: 31px;
    min-width: 231px;
    background-color: transparent;
}

.ipt-label {
    color: rgba(255, 255, 255, 0.5);
}

.custom-cbx-label {
    cursor: pointer;
}

.custom-cbx-checkbox {
    display: none;
}

.custom-cbx-fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    margin-right: 8px;
}

.custom-cbx-fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}

.custom-cbx-checkbox:checked + .custom-cbx-fake::before{
    opacity: 1;
}

.color-primary {
    color: #E3B873;
}

.color-black {
    color: #363636;
}

.color-white {
    color: #ffffff;
}

.shade {
    background-color: rgba(0, 0, 0, 0.7);
}

.text-center {
    text-align: center;
}

.icon-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 12px 0 24px;
}

.icon-label-line {
    display: inline-block;
    border-bottom: 1px solid #E3B873;
    width: 32px;
}

.divider {
    margin: 60px auto 30px;
    width: 64px;
    border-bottom: 1px solid #E3B873;
}

/*  HEADER BLOCK  */

.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
}

.logo, .contacts {
    color: #E3B873;
    text-transform: uppercase;
}

.main-menu {
    flex: 0 0 50%;
}

.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    color: #ffffff;
    text-decoration: none;
}

.main-menu li a.active,
.main-menu li a:hover {
    color: #E3B873;
}

/* MAIN OFFER SECTION */

.main-offer-section {
    background-image: url(../img/image_1.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.offer-block {
    padding: 180px 0;
    color: #FFFFFF;
}

.offer-title {
    font-family: 'Yeseva One';
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.offer-description {
    font-family: 'Nunito Sans';
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.offer-buttons button:not(:last-child) {
    margin-right: 20px;
}

/* COMPLETED PROJECTS */

.completed-block {
    padding: 80px 0;
}

.completed-links {
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-end;
}

.completed-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

.completed-links li {
    float: left;
    margin-right: 40px;
}

.completed-links li a {
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.completed-links li a.active,
.completed-links li a:hover {
    color: #E3B873;
}

.completed-info {
    display: flex;
}

.completed-description {
    flex: 0 0 40%;
}

.completed-picture {
    flex: 0 0 60%;
}

.completed-container {
    width: 442px;
    height: 86px;
}

.completed-title {
    color: #E3B873;
    font-family: 'Yeseva One';
    font-size: 27px;
    line-height: 120%;
    font-weight: 400;
}

.completed-text {
    margin-top: 34px;
    color: #FFFFFF;
    line-height: 26.73px;
}

.completed-properties {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6px;
}

.completed-property {
    flex: 0 0 210px;
    margin-top: 36px;
}

.property-title {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    
}

.property-value {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 21px;
    padding-top: 9px;
}

.completed-controls {
    margin-top: 50px;
}

.completed-controls span:not(:last-child) {
    margin-right: 20px;
}

.control-left-arrow {
    content: url('../img/left-arr.svg');
    cursor: pointer;
}

.control-right-arrow {
    content: url('../img/right-arr.svg');
    cursor: pointer;
}

.control-spot-acitve {
    content: url('../img/spot-active.svg');
    cursor: pointer;
}
.control-spot {
    content: url('../img/spot.svg');
    cursor: pointer;
}

/* ONLINE CONTROL */

.online-bg {
    position: absolute;
    background-color: #131313;
    top: 0;
    right: 0;
    left: 0;
    height: 300px;
    z-index: -1;
}

.online-title {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.camera-icon {
    content: url('../img/camera.svg');
}

.online-video {
    max-width: 817px;
    margin: 0 auto;
    position: relative;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}

.video-sample {
    width: 100%;
    height: 0px;
    padding-bottom: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/image_3.png) no-repeat center;
    background-size: cover;
}

.video-play {
    position: absolute;
    content: url('../img/play.svg');
    margin: auto auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.online-control-text {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    margin: 0 auto 80px;
    max-width: 790px;
}

.online-control-form {
    max-width: 800px;
    margin: 32px auto 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.online-control-form-name,
.online-control-form-phone {
    opacity: .5;
}

.online-control-checkbox {
    text-align: center;
    margin-bottom: 100px;
}

/* TYPES OF REPAIR */

.types-title {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.hammer-icon {
    content: url('../img/hammer.svg');
}

.repair-type {
    display: flex;
    gap: 32px;
    margin-bottom: 200px;
}

.types-of-repair {
    flex: 1 1 auto;
}

.img-repair {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-repair img {
    width: 100%;
}

.repair-text {
    padding: 16px 16px 32px;  
    background-color: #FFFFFF;
    position: relative;
    margin: -130px auto 0;
    max-width: 80%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair-title {
    color: #363636;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
}

.repair-list li {
    list-style-position:inside;}


.repair-list {
    color: #959595;
    
    font-size: 13px;
    line-height: 27px;
}

.repair-btn {
    position: absolute;
    bottom: -25px;
    left: 0;

    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
}

.repair-contacts {
    display: flex;
    justify-content: space-between;
}

.repair-contact-types {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}

.repair-types-section {
    background-image: url('../img/image_7.png');
    background-position: left bottom;
    background-repeat: no-repeat;
}

.repair-contact-form {
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 506px;
    padding: 28px 50px;
}

.repair-contact-form h4 {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0 auto;
    max-width: 300px;
}

.repair-contact-form > label {
    font-family: 'Nunito Sans';
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    display: block;
}

.repair-contact-form > *:nth-child(2),
.repair-contact-form > *:nth-child(3) {
    margin-bottom: 50px;
}

.repair-contact-form > *:nth-child(4),
.repair-contact-form > *:nth-child(5) {
    margin-bottom: 20px;
}

.repair-contact-form input::placeholder {
    color: #ffffff;
}

.repair-contact-form input {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.15);
    width: 100%;
}

.repair-contact-type {
   display: flex; 
   align-items: center;
   max-width: 400px;
   margin-left: 100px;
}

.repair-contact-circle {
    margin-right: 16px;
    background-color: #E3B873;
    border-radius: 50%;
    border: 8px solid #ffffff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    height: 60px;
    flex: 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yeseva One';
    font-size: 18px;
    color: #ffffff;
}

.repair-contact-bottom {
    display: flex;
    justify-content: flex-end;
}


.discount-hint {
    display: flex; 
    margin-top: 30px;
    justify-content: right;
    align-items: center;
    gap: 25px;
    margin-bottom: 220px;
}

.discount-hint-icon {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3B873;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
}

.discount-logo {
    content: url('../img/pig.svg');
}

.discount-text {
    width: 344px;
    color: #E3B873;
    font-size: 18px;
}

/* WE REALIZE */

.design-section {
    background-image: url('../img/image_8.png');
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.design-container {
    display: flex;
    justify-content: space-between;
}

.design-title {
   font-family: 'Yeseva One';
   color:#E3B873;
   font-size: 27px; 
   line-height: 37px;
   font-weight: 400;
   text-transform: uppercase;
}

.design-list {
    padding: 120px 0 60px;
    flex: 0 0 400px;
}

.design-styles {
    margin-top: 30px;
}

.design-styles li {
    list-style-type: none;
    margin-bottom: 14px;
}

.design-styles li a {
    color: #ffffff;
    font-size: 20px;
    line-height: 38px;
    text-decoration: none;
}

.design-styles li.active a,
.design-styles li a:hover {
    text-decoration: underline;
    color: #E3B873;
}

.design-galary {
    display: flex;
    gap: 40px;
}

.design-galary-block {
    position: relative;
    width: 354px;
}

.galary-container {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.design-galary-left {
    top: -50px;
}

.design-galary-right {
    top: -120px;
}


/* OUR CLIENTS */

.clients-section {
    background-image: url('../img/city.svg');
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 340px;
}

.clients-title {
    margin-top: 110px;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.clients-icon {
    content: url('../img/clients.png');
}

.clients-title-text {
    font-size: 18px;
    line-height: 29.46px;
    text-align: center;
    max-width: 422px;
    margin: 0 auto 50px;
}


.our-clients {
    display: flex;
    gap: 48px;
    padding-bottom: 36px;
}

.client {
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding: 20px;
    position: relative;
}

.client-title {
    display: flex;
    align-items: center;
}

.client-img {
    border-radius: 50%;
}

.client-name {
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 22.87px;
    margin-left: 24px;
    width: 176px;
    color: #181818;
}

.client-text {
    margin-top: 24px;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    padding-bottom: 72px;
}

.client-text p {
    margin-bottom: 4px;
}

.square-icon {
    content: url('../img/square.svg');
}

.desk-icon {
    content: url('../img/desk.svg');
}

.client-params {
    display: flex;
    width: 280px;
    height: 54px;
    background-color: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    position: absolute;
    bottom: -25px;
    left: 0;
}

.client-params-prop {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.client-params-prop:last-child {
    flex: 0 0 55%;
    border-left: 1px solid rgba(255,255,255,.5);
}

.client-params-value {
    font-family: 'Yeseva One';
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
}

/* CONTACTS */

.contacts-section {
    background-image: url('../img/image_12.png');
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-questions {
    padding: 50px 0;
}

.questions-form {
    max-width: 880px;
    margin: -250px auto 50px;
    padding: 32px 180px;
}

.questions-form h4 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.questions-form input[type='text'] {
    width: 100%;
}

.questions-form input::placeholder {
    color: #ffffff;
}

.questions-form > div {
    margin-top: 40px;
}

.questions-form-name {
    display: flex;
    gap: 40px;
}

.questions-form-name label {
    flex: 0 0 50%;
}

.contact-questions-title {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    max-width: 600px;
    margin: 40px auto;
}


.main-info.bottom-info {
    height: 133px;
}